#root {
}

button {
  padding: 0.5rem;
  width: 6rem;

  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;

  color: #333;
  cursor: pointer;
  font-size: 1.2rem;
  user-select: none;
}
