#describe {
  flex-direction: column;
  gap: 10px;
  width: 300px;
  height: 220px;
}
#describe[open] {
  display: flex;
}
#describe > .title {
  font-size: 20px;
  font-weight: bold;
}
#describe > .form-item {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
#describe > .form-item textarea {
  resize: none;
  padding: 3px 5px;
}
#describe > .btns {
  position: absolute;
  bottom: 0;
  width: calc(100% - 2em);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}
#describe > .btns > .btn {
  padding: 5px 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  cursor: pointer;
  user-select: none;
  border-radius: 4px;
  transition: .2s;
}
#describe > .btns > .btn:hover {
  background-color: #eee;
}
#describe > .btns > .btn.confirm {
  color: white;
  background-color: #275DCC;
}
#describe > .btns > .btn.confirm:hover {
  background-color: #377Dff;
}
dialog {
  border-radius: 4px;
  outline: none;
  border: none;
  box-shadow: 0 0 16px #888;
}
