html[theme-mode=dark] body {
  --font-color: #eee;
  --bg-color: #555;
}

body {
  --font-color: #2A2A2A;
  --bg-color: #F0F0F0;

  margin: 0 auto;
  height: 100vh;
  color: var(--font-color);
  background-color: var(--bg-color);

  font-family: 'Roboto Mono', monospace;
  transition: .3s;
}
@media screen and (max-width: 500px) {
  body { width: 100vw; }
}
@media screen and (min-width: 500px) {
  body { width: 500px; }
}

#container {
  display: grid;
  grid-template-columns: repeat(5, 100px);
  grid-template-rows: repeat(5, 100px);
  width: 500px;
}
#container > .hour-card {
  --br: 6px;

  position: relative;
  padding: 5px;
  border: 1px solid #ccc;
  cursor: pointer;
}
#container > .hour-card:first-child {
  border-radius: var(--br) 0 0 0;
}
#container > .hour-card:nth-child(5) {
  border-radius: 0 var(--br) 0 0;
}
#container > .hour-card:nth-child(21) {
  border-radius: 0 0 0 var(--br);
}
#container > .hour-card:last-child {
  border-radius: 0 0 var(--br) 0;
}
#container > .hour-card.active {
  background-color: #377Dff;
  color: white;
}
#container > .hour-card > span.bg-num {
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-size: 28px;
  font-weight: bold;
  pointer-events: none;
  user-select: none;
  opacity: .3;
  transition: .2s;
}
#container > .hour-card:hover > span.bg-num {
  opacity: .6;
}
html[theme-mode=dark] #container > .hour-card > span.bg-num {
  opacity: .4;
}
html[theme-mode=dark] #container > .hour-card:hover > span.bg-num {
  opacity: .8;
}
